/* ======================
   HERO SECTION
========================*/

body{
  background:#073725;
  color:#fff;
}

/* HERO */
.hero{
  padding:80px 30px;
}

.small-title{
  opacity:.6;
  font-size:14px;
  margin-bottom:20px;
}

.hero h1{
  font-size:50px;
  line-height:1.1;
  margin-bottom:20px;
}

.hero h1 span{
  color:#25ff8a;
}

.subtext{
  max-width:500px;
  line-height:1.6;
  margin-bottom:30px;
}

.hero-buttons{
  display:flex;
  gap:20px;
}

.chat-btn{
  border:2px solid #25ff8a;
  background:transparent;
  padding:10px 16px;
  border-radius:6px;
  text-decoration:none;
  color:white;
}

/* RESPONSIVE */
@media(max-width:600px){
  .hero{
    padding-top:60px;
  }
  .hero h1{
    font-size:42px;
  }
}

